<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <svg:symbol id="fav-icon" viewBox="-2 -2 36 33">
    <svg:path d="M15.6,28.1l12.5-12.5c3.5-3.5,3.5-9,0-12.5c-3.5-3.5-9-3.5-12.5,0c-3.5-3.5-9-3.5-12.5,0c-3.5,3.5-3.5,9,0,12.5L15.6,28.1z"
    />
    </symbol>
</svg>

<ng-container *ngIf="!inline; else cardInlineTemplate">
  <div class="card">
    <img class="card__img" src="{{movie.poster | imageNotFound}}" alt="{{movie.title}} poster">
    <div class="card__body card__body--overlay">
      <div class="card__fav">
        <button class="btn btn--fav" [ngClass]="{'btn--active': movie.favourite}" (click)="addToFav(movie.imdbID)">
          <svg width="35" height="35" preserveAspectRatio="xMidYMid meet" xml:space="preserve">
            <svg:use xlink:href="#fav-icon" />
          </svg>
        </button>
      </div>
      <div class="card__title">
        {{ movie.title }}
      </div>
    </div>

  </div>
</ng-container>

<ng-template #cardInlineTemplate>
  <div class="card card--inline">
    <div class="card__fav">
      <button class="btn btn--fav" [ngClass]="{'btn--active': movie.favourite}" (click)="addToFav(movie.imdbID)">
        <svg width="35" height="35" preserveAspectRatio="xMidYMid meet" xml:space="preserve">
          <svg:use xlink:href="#fav-icon" />
        </svg>
      </button>
    </div>
    <img class="card__img" src="{{movie.poster}}" alt="{{movie.title}} poster">
    <div class="card__body card__body--overlay">
      <h3 class="card__header">
        <span class="card__header__title">{{ movie.title }}</span>
        <span class="card__header__year">({{ movie.year }})</span>
      </h3>
      <div class="card__footer">
        type:
        <span class="card__footer__type">
          {{ movie.type }}
        </span>
      </div>
    </div>
  </div>

</ng-template>