$brand-primary: #FFA310;
$brand-secondary: red;
$brand-teritary: red;
$white: #FFFFFF;
$grey: #707070;
$grey-a: #242424;
$grey-1: #1F1F1F;
$grey-2: #121212;
$black: #000000;

// breakpoints

$sm: 400px;
$md: 700px;
$md-1: 768px;