<ul *ngIf="activePage" class="list--inline">
  <li class="list__item">
    <button (click)="goFirst()" [disabled]="firstPageDeactivated">first</button>
  </li>
  <li class="list__item">
      <button (click)="goPrev()" [disabled]="firstPageDeactivated">prev</button>
    </li>
  <li class="list__item" *ngFor="let pageNumber of visiblePages | async">
    <button [ngClass]="{'active': activePage === pageNumber}" (click)="goPage(pageNumber)">{{pageNumber}}</button>
  </li>
  <li class="list__item">
    <button (click)="openPageInput()" class="dots">...</button>
    <input class="page-input" type="number" min="1" *ngIf="pageInputOpen" #pageInput (blur)="gotoSpecificPageOnBlur(pageInput.value)" (keyup)="gotoSpecificPageOnKeyUp(pageInput.value, $event)">
  </li>
  <li class="list__item">
      <button (click)="goNext()" [disabled]="lastPageDeactivated">next</button>
    </li>
  <li class="list__item">
    <button (click)="goLast()" [disabled]="lastPageDeactivated">last</button>
  </li>
</ul>