@import '../../../styles/abstract/variables';
:host {
    display: block;
    padding: 0 15px;
    margin: auto;
    max-width: 1366px;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
    max-width: 1600px;
    @media screen and (max-width: $sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    @media screen and (max-width: $md-1) {
        // grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
}

.message {
    color: $brand-primary;
    font-size: 40px;
    @media screen and (max-width: $sm) {
        font-size: 20px;
        margin: .5em 0 1em 0;
    }
}
