@import '../../../styles/abstract/variables';
:host {
    display: block;
    padding: 0 15px;
    margin: auto;
    max-width: 1366px;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 60px;
    max-width: 1600px;
}

.message {
    color: $brand-primary;
    font-size: 40px;
}