<p class="message">
  <ng-container *ngIf="error; else errorTemplate">
    {{ errors }}
  </ng-container>
  </p>
<ng-template #errorTemplate>
    Search results for "<em><strong>{{ searchQuery | async }}</strong></em>"
    <br>
    <small>
      with total of {{ resultsCount | async }} finds ({{ resultsPages | async}} pages)
    </small>
</ng-template>

<div class="grid-container">
  <app-card *ngFor="let movie of movies | async as list" [movie]="movie"></app-card>
</div>
<app-pagination></app-pagination>
<app-banner [bannerContent]="'http://via.placeholder.com/1920x700'"></app-banner>