@import '../../../styles/abstract/variables';
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    max-width: 1366px;
    margin: auto;
    border-bottom: 1px solid $grey-a;
    align-items: center;
    > * {
        flex-grow: 0;
        flex-basis: 33%;
    }
}

.fav-button {
    text-align: left;
    border: none;
    svg {
        fill: none;
        stroke: $white;
    }
    &.active {
        svg {
            fill: $brand-primary;
            stroke: none;
        }
    }
}

.logo {
    text-align: center;
    svg {
        fill: $white;
    }
}

.search {
    text-align: right;
}